$header-background: url(../img/m-h-night.jpg);
$main-background: #1b1e2a;
$body-color: #ffffff;;
$section-background: #383d4f;
$banner-background: linear-gradient(to right, #e0a800, #962d4e);
$buttoncolor: #e4ae00;
$bright-color: #ffffff;
$span-color: #ff4d30;