$header-background: url(../img/m-h-day.jpg);
$main-background: #fff;
$body-color: #2c2f3c;
$section-background: #1b1e2a;
$banner-background: linear-gradient(to right, #649506, #2a5dd2);
$buttoncolor: #699a00;
$bright-color: #ffffff;
$span-color: #0ca1c8;